/* main part */

.main{
  background-image: url(/assets/index.jpg);
  background-image: url('/assets/about-2.jpg');
  height:180vh;
  background: contain;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;

  align-items: center;
  display: flex;
  text-align: center;
  padding:0 28rem;
}

.text h3{
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 5px;

  color:rgba(255, 255, 255, 0.862);
  margin:1rem 0px;
}

.text span {

  text-transform: uppercase;
  font-size:1.2rem;
  letter-spacing: 1px;
}

.text *:not(h3){
  color:rgba(255, 255, 255, 0.812);
}

.text p {
  line-height: 1.5rem;
}

/* about-us-idea */
.about-us {
  margin:20vh 0;
  height:80vh;
  text-align: center;
}

.about-us h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin:0.4rem;
  letter-spacing: 2px;
}

.idea {


  gap:5rem;
  padding:0 15rem;
  display: flex;
  flex-direction: row;

  justify-content: space-between;

}

.img-author{
  width:70%;
}

.img-author img{
  width: 100%;
  border-radius: 4%;
}

.text {
  flex-direction: column;
  width: 100%;
  align-items: center;
  display: flex;
}

.text p {
  line-height: 1.9rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 300;
}


/* button */

.btn-start a{
  position:absolute;
  top:80%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 30px 70px;
  color: #c5c5c5;
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing: 5px;
  font-size:40px;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
  overflow:hidden;
}

.btn-start a::before
{
  content:"";
  position:absolute;
  top:2px;
  left:2px;
  bottom:2px;
  width:50%;
  background:rgba(255,255,255,0.05);
  
}
.btn-start a span:nth-child(1)
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:2px;
  background:linear-gradient(to right, #0c002b ,#1779ff);
  animation: animate1 2s linear infinite;
  animation-delay:1s;
  
}
@keyframes animate1
{
  0%
  {
    transform:translateX(-100%);
}
  100%
  {
    transform:translateX(100%);
  }
}

a span:nth-child(2)
{
  position:absolute;
  top:0;
  right:0;
  width:2px;
  height:100%;
  background:linear-gradient(to bottom, #0c002b ,#1779ff);
  animation: animate2 2s linear infinite;
  animation-delay:2s;
}

@keyframes animate2
{
  0%
  {
    transform:translateY(-100%);
}
  100%
  {
    transform:translateY(100%);
  }
}

a span:nth-child(3)
{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:2px;
  background:linear-gradient(to left, #0c002b ,#1779ff);
   animation: animate3 2s linear infinite;
  animation-delay:1s;
  
}
@keyframes animate3
{
  0%
  {
    transform:translateX(100%);
}
  100%
  {
    transform:translateX(-100%);
  }
}
a span:nth-child(4)
{
  position:absolute;
  top:0;
  left:0;
  width:2px;
  height:100%;
  background:linear-gradient(to top, #0c002b ,#1779ff);
   animation: animate4 2s linear infinite;
  animation-delay:2s;
  
}
@keyframes animate4
{
  0%
  {
    transform:translateY(100%);
}
  100%
  {
    transform:translateY(-100%);
  }
}


/* guides */
.our-team {
  align-items: center;

  position: relative;

  width: 100%;
  max-width: 1400px; 
  margin: 0 auto;
  text-align: center;

  margin-bottom: 10rem;

}

.our-team h5 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 4px;
  font-weight: 400;
  text-transform: uppercase;
  
  margin:1rem 0px;
  margin-bottom: 3rem;
}

.member{
  background-image: url(/assets/team-2.jpg);
}



/* carousel */

.carousel-team {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  row-gap: 90px;
  column-gap: 50px;
}


.card {
  background-size:cover;
  display: flex;
  height: 460px;
  width: 300px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  /* left: 0px; */
}


.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.member-info {
  position: absolute;
  bottom:0%;
  
  background-color: #00000094;
  width: 100%;
}


/* popup */
/* Modal overlay */
.modal {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* dark transparent background */
  justify-content: center;
  align-items: center;
}

/* Modal box */
.modal-content {
  background-color: #222;
  padding: 2rem;
  border-radius: 8px;
  color: white;
  width: 70%;
  height: 80vh;
  /* width: 90%; */
  position: relative;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.text-guide {
  display: flex;
  gap:2rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height:1.3rem;
}

.img-guide {
  width: 50%;
}

.img-guide img {
  width:400px;
  height: 580px;
  
  padding:0.5rem;
  border-radius: 10px;
}

#modal-name {
  font-size: 2rem;
  margin:2rem 0rem;
}

.modal-details {
  margin-bottom: 3rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.modal-specialization, .tours-guide {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom:2rem;
}

#modal-specialization, #modal-tours{
  display: inline-block;
  font-weight: 200;
}

#modal-description{
  font-size: 1.1rem;
  line-height: 1.5rem;
}