.header-nav {
  width: 100%;
  font-size: 1.2rem;

  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  /* top:0; */

  display: flex;
  justify-content: center;
}

.header-nav a {
  text-transform: uppercase;
  color:#c0c0c0;
  padding:1.6rem 1.8rem;

}


.header-nav a:hover{
  background-color: #00000036;
}